{% extends "base.html" %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block title %}About{% endblock title %}
{% block body %}


    <div class="container my-3">
        <h2 class="text-center py-3">About Me</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://source.unsplash.com/500x300/?code,tech,css" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Developer</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://source.unsplash.com/500x300/?code,django,tech" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Designer</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://source.unsplash.com/500x300/?code,java,tech" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Entertainer</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="container my-3">
        <h1 class='my-3'>My Coding video</h1>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kOI_BMkuh-k?rel=0" allowfullscreen></iframe>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ab nemo distinctio facilis soluta exercitationem, nesciunt vel tempora similique? Cum, libero nihil? Culpa eius velit et. Repudiandae ut atque soluta.</p>
    </div>
{% endblock body %}    
